<form action="/output" method="post">
<h1>Add new student</h1>
    Name:  <input type="text" name="ten" id=""><br>
    Age: <input type="number" name="tuoi" id=""><br>
    Email: <input type="email" name="email" id=""><br>
    DOB: <input type="date" name="ngaysinh" id=""><br>
    Gender: 
    <input type="radio" name="gender" id="" value="male"> Male
    <input type="radio" name="gender" id="" value="female"> Female
    <br>
    Major: 
    <select name="major" id="">
        <option value="IT">IT</option>
        <option value="Business">Business</option>
        <option value="Graphic Design">Graphic Design</option>
    </select>
    <br>
    <input type="submit" value="Add">
</form>