<form action="/output" method="post">
<h1>Add new student</h1>
    Name:  <input type="text" name="ten" id=""><br>
    Age: <input type="number" name="tuoi" id=""><br>
    Email: <input type="email" name="email" id=""><br>
    DOB: <input type="date" name="ngaysinh" id=""><br>
    <input type="submit" value="Add">
</form>