<div class="container text-center bg-light card">
<h1 class="alert alert-primary" role="alert">
  Login
</h1>
<form action="/check" method="post" border="1">
  <div class="mb-3 row">
    <label for="staticEmail" class="col-sm-2 col-form-label">Username</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="staticEmail" name="username">
    </div>
  </div>
  <div class="mb-3 row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword" name="password">
    </div>
  </div>
  <button type="submit" class="btn btn-success">Confirm identity</button>
</form>
</div>
